<div class="content-wrapper">
    <h2>Frontend Developer with over 4 years of experience building and maintaining scalable web applications using Angular.</h2>
    <h2>Strong contributor to UI/UX, code quality, and component architecture.</h2>
    <h2>Experienced in modern Angular patterns including Signals, Control Flow, OnPush strategy, and Standalone Components.</h2>
    <h2>Collaborative team player involved in code reviews and UI Kit development.</h2> 
    <h2>Open to mentoring and actively growing in backend technologies.</h2>
    <h3>Key Skills:</h3>
    <ul>
        <li>Frameworks & Libraries: Angular (v15+), RxJS, Signals, Control Flow, Standalone Components, NgModules;</li>
        <li>State & Performance: OnPush Change Detection, Lazy Loading, Signal-based reactivity</li> 
        <li>Testing: Jest, Karma (basic experience)</li>
        <li>Styling: SCSS, BEM, Angular Material</li>
        <li>Tooling: Webpack, Nx, ESLint, Prettier</li>
        <li>API Integration: REST API, Swagger/OpenAPI</li>
        <li>Form Handling: Reactive Forms, Custom Validators (Sync/Async), FormArray, FormBuilder</li>
        <li>Dev Practices: Git, Code Review, Refactoring, Component Decomposition</li>
    </ul>
</div>
