<div id="console">
  
  {{ consoleText }}
  
  @if(showHelp) {
    <app-help-component></app-help-component>
  }

  @if(showRoutedContent){
    <div class="content-wrapper">
      <router-outlet />
    </div>
  }
 
  @if(!isDisplayedInput){
    <span class="blink">█</span>
  } @else {
    <div class="input-line">
      <span>> </span>
      <span #textSizer class="text-sizer">{{ userInput || '&nbsp;' }}</span>
      <input
        #inputField
        class="user-input"
        type="text"
        [(ngModel)]="userInput"
        (input)="adjustWidth()"
        (keyup.enter)="executeCommand()"
        autofocus
      >
      <span class="blink">█</span>
    </div>
  }
</div>
