<div id="console">
  {{ consoleText }}
  @if(showHelp) {
    <app-help-component></app-help-component>
  }
  <span *ngIf="isDisplayedInput"></span>
  <span *ngIf="!isDisplayedInput" class="blink">█</span>
  <div *ngIf="isDisplayedInput" class="input-line">
    <span>></span>
    <span #textSizer class="text-sizer">{{ userInput || '&nbsp;' }}</span>
    <input
      #inputField
      class="user-input"
      type="text"
      [(ngModel)]="userInput"
      (input)="adjustWidth()"
      (keyup.enter)="executeCommand()"
      autofocus
    >
    <span class="blink">█</span>
  </div>
</div>
